.ytm-base {
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
  letter-spacing: 0;
  line-height: normal;

  font-family: serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
}

.ytm-page {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

  text-align: center;
  z-index: 99999;
  pointer-events: none;
  -moz-user-select: none;
}

.ytm-main {
  position: relative;
  display: inline-block;
  text-align: left;

  pointer-events: auto;

  border: 18px solid transparent;
}

.ytm-menu {
  color: #333;
  background-color: #fff;
  border: 2px solid #5bc0de;
}

.ytm-menu-text {
  border: 2px solid #77ca77;
}

.ytm-menu-item {
  cursor: pointer;
}

.ytm-menu-item-selected {
  background-color: #5bc0de;
}

.ytm-menu-item-selected-text {
  background-color: #77ca77;
}

.ytm-menu-item-left {
  font-size: 18px;

  display: inline-block;
  padding: 4px 4px 4px 8px;
}

.ytm-menu-item-right {
  font-size: 18px;

  padding: 4px 8px 4px 4px;
  float: right;
  margin-left: 25px;
}

.ytm-hotkey {
  text-decoration: underline;
  margin-right: 5px;
}
